{
  "extends": [
    "taro",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/prefer-default-export": 0,
    "no-debugger": "error",
    "no-empty": "error",
    "no-extra-semi": "error",
    "no-unreachable": "error",
    "eqeqeq": "error",
    "no-empty-function": "error",
    "no-multi-spaces": "error",
    "max-len": ["error", { "code": 120 }],
    "no-multiple-empty-lines": "error",
    "arrow-spacing": "error",
    "spaced-comment": ["error", "always"]
  },
  "parser": "babel-eslint",
  "globals": {
    "requirePlugin": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
