{
  "extends": [
    "taro",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/prefer-default-export": 0
  },
  "parser": "babel-eslint",
  "globals": {
    "requirePlugin": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
